.container {
    display: row;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-top: 10px solid #00a94e;
}
@media (min-width: 961px) {
    .container {
        padding: 10vh;
    }
    .img {
        margin-left: 100px;
    }
}

@media (min-width: 961px) {
    .img {
        margin-right: 100px;
    }
}

.info {
    display: flex;
    width: 50vw;
    min-height: 15vh;
    justify-content: center;
    align-items: center;
    transition: transform 1s;
}

.info:hover {
    transform: scale(1.02);
  }

.title {
    font-weight: 800;
    padding-top: 10px;
    padding-bottom: 10px;
}

.paragraph {
    text-align: justify;
    padding-top: 10px;
    padding-bottom: 10px;
}

.img {
    display: row;
    justify-content: center;
    align-items: center;
}

@media (max-width: 961px) {
    .info {
        display: flex;
        width: 100vw;
        height: 15vh;
        justify-content: center;
        align-items: center;
        transition: transform 1s;
    }
}

.listServices {
    overflow-y: scroll; /* Adiciona a barra de rolagem vertical */
    scrollbar-width: none; /* Oculta a barra de rolagem no Firefox */
    -ms-overflow-style: none; /* Oculta a barra de rolagem no Internet Explorer */
}

.listServices::-webkit-scrollbar {
    background: #cecece;
    width: 10px;
    border-radius: 50px;
}

.listServices::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: #01a94e;
  }