.container {
    display: row;
    min-width: 100vw;
    justify-content: center;
    align-items: center;
    border-top: 20px solid #00a94e;
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

@media (min-width: 961px) {
    .container {
        padding: 10vh;
    }
}

.title {
    font-weight: 800;
    padding-top: 10px;
    padding-bottom: 10px;
}

.paragraph {
    text-align: justify;
    padding-top: 10px;
    padding-bottom: 10px;
}

.img {
    display: row;
    justify-content: center;
    align-items: center;
}

@media (min-width: 960px) {
    .img {
        margin-left: 100px;
    }
  }